{% extends '_layouts/base.html' %}
{% load static %}

{% block headline %}<h3><strong>Sąskaita faktūra pagal sandorį</strong></h3>{% endblock headline %}

{% block content %}
     <div><h4><span class="text-info">VP kodas: </span><span
            class="text-primary"><strong>{{ sutartis.kodas }}</strong></span></h4></div>
    <div><h4><span class="text-info">Tiekėjas: </span><span
            class="text-primary"><strong>{{ sutartis.tiekejas }}</strong></span></h4></div>
    <div><h4><span class="text-info">Sutarties data: </span><span
            class="text-primary"><strong>{{ sutartis.data }}</strong></span></h4></div>
    <div><h4><span class="text-info">Sutarties suma: </span><span
            class="text-primary"><strong>{{ sutartis.suma }}</strong></span></h4></div>


    <hr>


    <table id="table_sutartis" style="width:100%" class="table table-hover table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>Sąskaitos faktūros Nr.</th>
            <th>Data</th>
            <th>Sąsk. f. suma, EUR</th>
            <th>Pirkimo objekto pavadinimas</th>
        </tr>
        </thead>
        <tbody>
        {% for k in fakturos %}
            <tr>
                <td style="white-space:nowrap;">
                    {{ k.id }}
                    <a class="btn btn-primary" role="button"
                       href={% url 'faktura_update' id_pk=k.id %} data-toggle="tooltip" title="Redaguoti eilutę">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>

                    <a class="btn btn-success" role="button"
                       href={% url 'faktura_copy' id_pk=k.id %} data-toggle="tooltip" title="Kopijuoti eilutę">
                        <span class="glyphicon glyphicon-copy"></span>
                    </a>

                    <a class="btn btn-danger btn-xs" role="button"
                       href={% url 'faktura_delete_confirm' id_pk=k.id %} data-toggle="tooltip"
                       title="Ištrinti eilutę">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>

                </td>
                <td>{{ k.sf }}</td>
                <td>{{ k.data|date:"Y-m-d" }}</td>
                <td>{{ k.suma }}</td>
                <td>{{ k.pavadinimas }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </p>
    </table>
<a class="btn btn-primary" href="{% url 'sutartis_view' kodas=sutartis.kodas.kodas %}"><span class="glyphicon glyphicon-chevron-left"></span>Grįžti į sutartis</a>


    <script>
        $(document).ready(function () {
            $("#table_sutartis").DataTable({
                        "columnDefs": [
                            {
                                "orderable": false,
                                "searchable": false,
                                "targets":  0
                            }

                        ],
                        language: {
                            url: "{% static "/vart/i18n/Lithuanian.json" %}"
                        }
                    }
            );
            //     var element = document.getElementById("m2");
            //     element.classList.add("active");
        })
    </script>

{% endblock %}