{% extends '_layouts/base.html' %}

{% block headline %}<h1>Viešųjų pirkimų žurnalas</h1>{% endblock headline %}

    {% block content %}
        {% if username %}
            <div><h3>Įvykdytų pirkimų apžvalga</h3></div>
       <div>Rodomi {{ laikotarpis }} metų duomenys</div><br>
        {% for f in fakturos %}
            <div>
                <div class="bg-primary"><strong>{{ f.kodas__kodas }}: {{ f.kodas__preke }}</strong>, numatytos išlaidos:
                    <strong>{{ f.kodas__islaidos }}</strong></div>
                <div>Įvestų sąskaitų faktūrų skaičius:
                    <strong>
                        {{ f.sf_count }}
                    </strong>; bendra sąsk. faktūrų suma:
                    <strong>
                        {{ f.sf_sum }}
                    </strong>; plano įvykdymas proc.:
                    <strong>
                        {% if f.proc > 100 %}
                            <span class="alert-danger">
                            {% else %}
                            <span>
                        {% endif %}
                        {{ f.proc|floatformat:1 }}%
                        </span>

                    </strong>
                </div>
            </div>
        {% endfor %}


        {% else %}
            {% block notlogged %}{% endblock %}

{% endif %}
    {% endblock content %}


