{% extends '_layouts/base.html' %}
{% load static %}

{% block headline %}{% endblock headline %}

{% block content %}
    <div><h4><span class="text-info">Rodomas laikotarpis: </span><span
            class="text-primary"><strong>{{ data_nuo }} ~ {{ data_iki }}</span></h4></div>
    <div><h4><span class="text-info">VP kodas: </span><span class="text-primary"><strong>{{ kodas }}</strong></span>
    </h4></div>

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a class="btn btn-default" href="{% url 'sutartis_add' kodas=kodas.kodas %}">
            <span class="glyphicon glyphicon-plus"></span>Pridėti naują sutartį
        </a></li>
    </ul>
    <hr>


    <table id="table_sutartis" style="width:100%" class="table table-hover table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>Data</th>
            <th>Numatoma suma, EUR</th>
            <th>Tiekėjo kodas</th>
            <th>Tiekėjas</th>
            <th>Pastaba (nebūtina)</th>
            <th>Ar tai žalias pirkimas?</th>
            <th>Sąskaitos faktūros</th>
        </tr>
        </thead>
        <tbody>
        {% for k in kodas_filtered %}
            <tr>
                <td style="white-space:nowrap;">
                    {{ k.id }}
                    <a class="btn btn-primary" role="button"
                       href={% url 'sutartis_update' id_pk=k.id %} data-toggle="tooltip" title="Redaguoti eilutę">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>

                    <a class="btn btn-success" role="button"
                       href={% url 'sutartis_copy' id_pk=k.id %} data-toggle="tooltip" title="Kopijuoti eilutę">
                        <span class="glyphicon glyphicon-copy"></span>
                    </a>

                    <a class="btn btn-danger btn-xs" role="button"
                       href={% url 'sutartis_delete_confirm' id_pk=k.id %} data-toggle="tooltip"
                       title="Ištrinti eilutę">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>

                </td>
                <td>{{ k.data|date:"Y-m-d" }}</td>
                <td>{{ k.suma }}</td>
                <td>{{ k.tiekejo_kodas }}</td>
                <td>{{ k.tiekejas }}</td>
                <td>{{ k.pastaba }}</td>
                <td>
                    {% if k.zalias %}
                        <span class="glyphicon glyphicon-leaf" style="color:green"></span>
                    {% endif %}</td>
                <td>
                    <a class="btn btn-warning" role="button"
                       href={% url 'faktura_add' id_pk=k.id %} data-toggle="tooltip" title="Pridėti sąskaitą faktūrą">
                        <span class="glyphicon glyphicon-euro"></span>
                    </a>
                {% for f in fakturos %}
                    {% if f.sutartisid_id == k.id %}
                    <a class="btn btn-primary" role="button"
                       href={% url 'faktura' id_pk=k.id %} data-toggle="tooltip" title="Peržiūrėti sąskaitas faktūras">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                    </a>
                    {% endif %}
                    {% endfor %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
        </p>
    </table>
<a class="btn btn-primary" href="{% url 'laikotarpis' %}"><span class="glyphicon glyphicon-chevron-left"></span>Grįžti į VP kodo pasirinkimą</a>
    <script>
        $(document).ready(function () {
            $("#table_sutartis").DataTable({
                        "columnDefs": [
                            {
                                "orderable": false,
                                "searchable": false,
                                "targets":  0
                            }

                        ],
                        language: {
                            url: "{% static "/vart/i18n/Lithuanian.json" %}"
                        }
                    }
            );
            //     var element = document.getElementById("m2");
            //     element.classList.add("active");
        })
    </script>

{% endblock %}