{% extends '_layouts/base.html' %}
{% load static %}

{% block content %}


    <div class="panel panel-primary">

        <div class="panel-heading">Pasirink rodomą laikotarpį</div>
        <div class="panel-body">
            <div class="datepicker">
                <input class="date datefrom" name="dateFrom" type="text" value="{{ nuo_kada|date:'Y-m-d' }}">
                ~ <input class="date dateto" name="dateTo" type="text" placeholder="YYYY-MM-DD" value="{{ iki_kada|date:'Y-m-d' }}">
            </div>
            <br><br>



            <form action="#" method="post">{% csrf_token %}
                {% comment %}
        <input id="date_from" name="date_from" type="hidden">
        <input id="date_to" name="date_to" type="hidden" >
        {% endcomment %}
                {% for f in form %}
                    {{ f.errors }}
                    {{ f.as_hidden }}
                {% endfor %}

                <div><h4><strong><span class="text-muted">Kodas  </span></strong><strong id="vpkodas"
                                                                                         class="text-primary"></strong>
                </h4></div>
                <span id="frm_kodas"></span>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle btn btn-default" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list"></span> Pasirink kodą
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            {% for k in kodas %}
                                <li><a class="kodas_click" id={{ k.id }} href="#">{{ k }}<span
                                        class="hidden tik-kodas">{{ k.kodas }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <br><br>


                <button id="toliau" type="submit" class="btn btn-primary hidden">
                    Toliau
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
            </form>

        </div>
    </div>



    <script>
        $(document).ready(function () {
            $(".date").datePicker({
                        sundayBased: false,
                        months: ['Sausis', 'Vasaris', 'Kovas', 'Balandis', 'Gegužė', 'Birželis', 'Liepa', 'Rugpjūtis', 'Rugsėjis', 'Spalis', 'Lapkritis', 'Gruodis'],
                        weekDays: ['Sk', 'Pr', 'An', 'Tr', 'Kt', 'Pn', 'Št'],
                        todayText: 'siandien',
                        equalHight: true
                    }
            );
            var element = document.getElementById("m2");
            element.classList.add("active");
            //$(function () {
             //   $(".ws-datepicker").wsCalendar({"image-base-url": "{% static '/vart/images/' %}"});
            //});
            $("a.kodas_click").click(function () {
                var id = $(this).attr("id");
                $("#vpkodas").html($("#" + id).html());

                $("input#id_kodas").val($("a#" + id + ".kodas_click > span.hidden.tik-kodas").html());

                // jei pasirinktas VP kodas, tai parodo paslepta mygtuka "Toliau"
                if (document.getElementById("vpkodas").innerText != '') {
                    document.getElementById("toliau").classList.remove("hidden");
                }
            });
            $("form").submit(function () {
                $("#id_date_from").val($(".datefrom").val());
                $("#id_date_to").val($(".dateto").val());
                $("input#id_kodas").val($("a#" + id + ".kodas_click > span.hidden.tik-kodas").html());
            })

            // pataiso bet kaip ivesta data
            $(".datefrom").change(function () {
                var data = $(".datefrom").val();
                if (data.length == 8) {
                    data = data.slice(0,4) + "-" + data.slice(4,6) + "-" + data.slice(6,8);
                }
                else {
                    data = data.split(/[.,\/ -]/);
                    data = data[0] + "-" + data[1] + "-" + data[2];
                }
                $(".datefrom").val(data);


            });

            $(".dateto").change(function () {
                var data = $(".dateto").val();
                if (data.length == 8) {
                    data = data.slice(0,4) + "-" + data.slice(4,6) + "-" + data.slice(6,8);
                }
                else {
                    data = data.split(/[.,\/ -]/);
                    data = data[0] + "-" + data[1] + "-" + data[2];
                }
                $(".dateto").val(data);
            });


        })


    </script>


{% endblock %}



