
.date-picker {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    color: #444;
    cursor: default;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 6px 0;
    text-align: center;
}
.date-picker.has-week-no {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), 30px 61px 0 -1px rgba(255, 255, 255, 1) inset, 30px 61px 0 0 rgba(204, 204, 204, 1) inset;
}
.date-picker::before, .date-picker::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    display: block;
    left: 8px;
    position: absolute;
    top: -9px;
}
.date-picker::after {
    border-color: transparent transparent #eee;
    top: -8px;
}
.date-picker .cal-month {
    margin: 2px;
}
.date-picker .cal-month td {
    border-radius: 2px;
    box-sizing: border-box;
    height: 27px;
    position: relative;
    width: 27px;
}
.date-picker .cal-month th {
    padding-bottom: 4px;
}
.week-end {
    color: #77a;
}
.disabled {
    color: #aaa;
}
.week-end.next-month, .week-end.prev-month {
    color: #ddd;
}
.cal-month tbody td:hover:not(.disabled):not(.week-no) {
    background-color: #eee;
    color: #000;
    cursor: pointer;
}
.selected-day {
    background-color: #ddd;
}
.today {
    border: 1px solid #bbb;
}
.event::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc transparent transparent #ccc;
    border-image: none;
    border-style: solid;
    border-width: 3px;
    content: "";
    height: 0;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 0;
}
.week-no {
    color: #999;
    padding-right: 6px;
}
.dp-title, .dp-footer {
    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 0 0 3px 3px;
    font-size: 15px;
    min-width: 140px;
    padding: 5px;
    text-align: center;
}
.dp-title {
    border-radius: 3px 3px 0 0;
}
.dp-label {
    margin: 0 2px -4px;
}
.dp-label-month {
    font-weight: bold;
}
.dp-label:hover {
    color: #000;
}
.dp-prev, .dp-next {
    border: medium none;
    display: block;
    height: 30px;
    margin: -4px -1px;
    opacity: 0.5;
    outline: medium none;
    position: relative;
    text-indent: 30px;
    white-space: nowrap;
    width: 30px;
}
.dp-prev::after, .dp-next::after {
    border: 6px solid #000;
    content: "";
    height: 0;
    left: 50%;
    margin: -6px -12px;
    position: absolute;
    top: 50%;
    width: 0;
}
.dp-prev::after {
    border-color: transparent #000 transparent transparent;
}
.dp-next::after {
    border-color: transparent transparent transparent #000;
    margin: -6px 0;
}
.dp-prev[disabled]::after, .dp-next[disabled]::after {
    visibility: hidden;
}
.dp-prev:hover, .dp-next:hover {
    opacity: 1;
}

