{% load static %}
<!DOCTYPE>
<html>
<head>
    <title>{% block title %}Viešieji pirkimai{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "/vart/css/ws-calendar.default.min.css"  %}" />

    
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
    </style>
    {% block css %}{% endblock css %}
</head>
<body>

<!-- jQuery CDN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- jQuery local fallback -->
  <script>window.jQuery || document.write('<script src="{% static "/vart/jquery.min.js" %}"><\/script>')</script>
<!-- jQuery UI CDN -->
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
<!-- jQuery UI CSS CDN -->
<link rel="stylesheet" href="2" type="text/css" media="all" />
  <!-- jQuery local fallback -->
    <script>window.jQuery || document.write('<script src="{% static "/vart/jquery-ui.min.js" %}"><\/script>')</script>
     <!-- WS Calendar -->
    <script type="text/javascript" src="{%  static "/vart/js/ws-calendar-min.js" %}"></script>
<!-- Bootstrap JS CDN -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Bootstrap JS local fallback -->
  <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{% static "/vart/bootstrap.min.js" %}"><\/script>')}</script>
  <!-- Bootstrap CSS local fallback -->
  <script>
    $(document).ready(function() {
        var bodyColor = $('body').css('color');
        if(bodyColor != 'rgb(51, 51, 51)') {
        $("head").prepend('<link rel="stylesheet" href="{% static "/vart/css/bootstrap.min.css" %}">');}});
  </script>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Viešieji pirkimai</a>
        </div>
        <div class="navbar-collapse collapse">
        {% if not user.is_authenticated %}
<a href="{% url 'signup' %}" class="btn btn-default navbar-btn">Register</a>
<a href="{% url 'login' %}" class="btn btn-default navbar-btn">Login</a>
{% else %}
<a href="{% url 'logout' %}" class="btn btn-default navbar-btn">Logout</a>
{% endif %}
        </div><!--/.navbar-collapse -->         
      </div>      
    </div>
    <div align="right">{% if user.is_authenticated %} <b> {{ user.get_full_name|default:user.username}} {% endif %}</b> </div>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="page-header">
        <div class="container">{% block headline %}{% endblock headline %}</div>
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    {% block js %}{% endblock js %}
</body>
</html>